* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "bebas-neue";
  src: url("../font/bebas-neue-v9-latin-regular.woff2") format("woff2"),
    url("../font/bebas-neue-v9-latin-regular.woff") format("woff"),
    url("../font/bebas-neue-v9-latin-regular.ttf") format("truetype");
  font-display: swap;
}

body {
  font-family: "bebas-neue", "cursive";
}

h1 {
  font-size: 32px;
  font-weight: bolder;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 20.8px;
  font-weight: bolder;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

header {
  padding: 10px 0px 10px 10px;
  background-color: rgb(24, 24, 24);
  width: 100%;
  color: white;
  position: fixed;
  z-index: 2;
}

#main {
  top: 57px;
  position: relative;
}

#main-nav {
  display: flex;
}

#main-nav > :nth-child(1) {
  margin-right: auto;
}

#nav-list {
  display: flex;
  list-style-type: none;
}

#nav-list li {
  margin-top: 5px;
  padding: 0px 10px;
  font-size: 1.3rem;
}

#nav-list li a {
  text-decoration: none;
  color: white;
}

#nav-toggle {
  display: none;
  background-color: transparent;
  border: 2px solid transparent;
  cursor: pointer;
  position: relative;
}

#dropdown-nav {
  display: flex;
  justify-content: center;
  background-color: rgb(204, 153, 204);
  height: 100%;
  position: fixed;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
  width: 0%;
  text-align: center;
}

.drop-nav {
  font-size: 1.5rem;
  font-weight: bold;
  height: 100%;
  margin-top: 100px;
}

.drop-nav li {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 10px;
}

.drop-nav a {
  color: #000000;
  text-decoration: none;
}

#ham-one {
  display: block;
  position: relative;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin-bottom: 4px;
}

#ham-two {
  display: block;
  position: relative;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin-bottom: 4px;
}

#ham-three {
  display: block;
  position: relative;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin-bottom: 4px;
}

#jude {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: relative;
}

#jude-img-div {
  padding: 40px 0px;
  background-color: gray;
  background-image: linear-gradient(to top, grey, white);
  display: flex;
  align-items: center;
  justify-content: center;
}

#article-1 {
  background-color: rgb(204, 153, 204);
  text-align: center;
  padding: 0 10%;
}

#article-1 h1 {
  font-size: 5rem;
  padding: 10px 0;
}

#article-1 h2 {
  font-size: 2.8rem;
}

#article-1 p {
  font-size: 20px;
  padding: 10px 0 40px 0;
}

#project-section {
  background-color: rgb(24, 24, 24);
  color: #ffffff;
}

#project-section h1 {
  text-align: center;
  padding-top: 80px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

#projects {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0px 40px 0px;
  width: 90%;
  height: auto;
  margin: auto;
}

#projects a {
  color: #ffffff;
  width: 40%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

#projects a img {
  display: block;
  width: 100%;
  height: 18.75rem;
}

#foot {
  position: relative;
  top: 57px;
  text-align: center;
}

#foot h3 {
  padding-top: 80px;
}

#contact {
  padding-bottom: 20px;
}

#copyright {
  padding: 40px 0px;
}

.fa {
  padding: 15px;
  font-size: 48px !important;
  width: 80px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

@media only screen and (max-width: 768px) {
  #nav-list {
    display: none;
  }

  #nav-toggle {
    display: block;
  }

  #projects {
    flex-direction: column;
  }

  #projects a {
    width: 60%;
  }
}

@media only screen and (max-width: 425px) {
  #projects a {
    width: 90%;
  }
}
